.empty .box{
    cursor:pointer;
}
.col .box:hover{
    border-color:#2B95D3;
}
.col.empty .box:hover{
    border-color:#2B95D3;
    background-color:rgba(43,149,211,.8);
}

.empty .box:hover:before{
    position:absolute;
    top:40%;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    font-size:40px;
    text-align:center;
    content:"Double click to add content";
}

.deleteRow{
    position:relative;
    display:block;
    color:#fff;
    margin:0 10px;
    padding:10px;
    cursor:pointer;
    text-align:center;
    border-radius:4px;
    background-color:#d9534f;
}

.deleteRow:hover{
    background-color:#c9302c;
}

#addRow{
    position:relative;
    display:block;
    color:#fff;
    margin:10px;
    padding:10px;
    cursor:pointer;
    text-align:center;
    border-radius:4px;
    background-color:#5cb85c;
}

#addRow:hover{
    background-color:#449d44;
}